*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background: #457ed7 ;
    color: #2c5596;
    font-family: "Oswald", "Raleway", "Sniglet";
    /* overflow-y: hidden; */ /*hide scrollbar*/
}

a:visited, a:link, a:link, a:active {
    color: #285397;
}

main{
    width:80%;
    height:80vh;
    margin: 5rem auto;
    background:white;
    padding: 1rem;
    display:flex;
    border-radius:.5em;
}

/* LEFT */

main .left{
    margin:0;
}

main .left:before{
    content: '';
    position: absolute;
    top:5rem;
    left:9.41rem;
    width: 30vw;
    height: 80vh;
    background: linear-gradient(225deg, #e91e63, #03a9f4);
    z-index: 1000;
    mix-blend-mode: screen;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

main .left img{
    width: 30vw;
    height: 80vh;
    position:relative;
    top:-1rem;
    left:-1rem;
    /* border:1px solid red; */
    object-fit: cover;
    max-width:100%;
    /* border-radius:.5em; */
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


/* RIGHT */
.right{
    /* text-align:center; */
}

.right section .icons i.icon{
    margin:3rem;
    font-size:2rem;
    /* border: 1px solid gray; */
    padding:1rem;
    border-radius:50%;
    background-color: #e0e9f8;
}

.right form.form-control .bord{
    
}

legend, h1{
    text-align:center;
}

/* main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    background:white;
    width:80%;
    padding: 1rem;
}

.right{
    width:60%;
    padding: 5em;
    border:1px solid red;
}

.left{
    background: #5395f3;
    width:10%;
}

 */
